Assignment_5 

Your objective is to analyze the data to show how four treatments (Capomulin, Infubinol, Ketapril, and Placebo) compare

In [1]:
#Dependencies
import requests
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import sem

In [2]:
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Import our data into pandas from CSV
path = 'data/Pymaceuticals_data_clinicaltrial_data.csv'
clinical_trial_data_df = pd.read_csv(path, low_memory=False)

clinical_trial_data_df.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [4]:
path = 'data/Pymaceuticals_data_mouse_drug_data.csv'
mouse_drug_data_df = pd.read_csv(path, low_memory=False)

mouse_drug_data_df.head()

  Mouse ID      Drug
0     f234  Stelasyn
1     x402  Stelasyn
2     a492  Stelasyn
3     w540  Stelasyn
4     v764  Stelasyn

In [5]:
# Merge the two data sets along Mouse ID
clinical_trial_complete = pd.merge(
    clinical_trial_data_df, mouse_drug_data_df, how="left", on=["Mouse ID"])
clinical_trial_complete.head(15)

   Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites       Drug
0      b128          0                45.0                 0  Capomulin
1      f932          0                45.0                 0   Ketapril
2      g107          0                45.0                 0   Ketapril
3      a457          0                45.0                 0   Ketapril
4      c819          0                45.0                 0   Ketapril
5      h246          0                45.0                 0   Ketapril
6      p189          0                45.0                 0   Ketapril
7      n923          0                45.0                 0   Ketapril
8      q119          0                45.0                 0   Ketapril
9      f993          0                45.0                 0   Naftisol
10     z234          0                45.0                 0   Naftisol
11     b559          0                45.0                 0   Naftisol
12     y260          0                45.0                 0   Ketapril
13     x930          0                45.0                 0   Naftisol
14     o725          0                45.0                 0   Naftisol

 Tumor Response to Treatment
    
 Store the Mean Tumor Volume Data Grouped by Drug and Timepoint 

 Convert to DataFrame

 Preview DataFrame

In [6]:
treatment_response = clinical_trial_complete[["Drug", "Timepoint", "Tumor Volume (mm3)"]]
treatment_response

           Drug  Timepoint  Tumor Volume (mm3)
0     Capomulin          0           45.000000
1      Ketapril          0           45.000000
2      Ketapril          0           45.000000
3      Ketapril          0           45.000000
4      Ketapril          0           45.000000
...         ...        ...                 ...
1901  Capomulin         45           41.581521
1902  Capomulin         45           31.023923
1903   Ceftamin         45           61.433892
1904    Placebo         45           58.634971
1905   Stelasyn         45           72.555239

[1906 rows x 3 columns]

In [7]:
timepoint_bin = treatment_response["Timepoint"].unique()
timepoint_bin = list(timepoint_bin)
timepoint_bin

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [8]:
drug_bin = treatment_response["Drug"].unique()
drug_bin = list(drug_bin)
drug_bin.sort()
drug_bin

['Capomulin',
 'Ceftamin',
 'Infubinol',
 'Ketapril',
 'Naftisol',
 'Placebo',
 'Propriva',
 'Ramicane',
 'Stelasyn',
 'Zoniferol']

In [9]:
drug_column = []
timepoint_column = []
drug_bin_index = 0

In [10]:
for i in timepoint_bin:
    for i in drug_bin:
        drug_column.append(drug_bin[drug_bin_index])
    drug_bin_index += 1

In [11]:
#
print(drug_column)

['Capomulin', 'Capomulin', 'Capomulin', 'Capomulin', 'Capomulin', 'Capomulin', 'Capomulin', 'Capomulin', 'Capomulin', 'Capomulin', 'Ceftamin', 'Ceftamin', 'Ceftamin', 'Ceftamin', 'Ceftamin', 'Ceftamin', 'Ceftamin', 'Ceftamin', 'Ceftamin', 'Ceftamin', 'Infubinol', 'Infubinol', 'Infubinol', 'Infubinol', 'Infubinol', 'Infubinol', 'Infubinol', 'Infubinol', 'Infubinol', 'Infubinol', 'Ketapril', 'Ketapril', 'Ketapril', 'Ketapril', 'Ketapril', 'Ketapril', 'Ketapril', 'Ketapril', 'Ketapril', 'Ketapril', 'Naftisol', 'Naftisol', 'Naftisol', 'Naftisol', 'Naftisol', 'Naftisol', 'Naftisol', 'Naftisol', 'Naftisol', 'Naftisol', 'Placebo', 'Placebo', 'Placebo', 'Placebo', 'Placebo', 'Placebo', 'Placebo', 'Placebo', 'Placebo', 'Placebo', 'Propriva', 'Propriva', 'Propriva', 'Propriva', 'Propriva', 'Propriva', 'Propriva', 'Propriva', 'Propriva', 'Propriva', 'Ramicane', 'Ramicane', 'Ramicane', 'Ramicane', 'Ramicane', 'Ramicane', 'Ramicane', 'Ramicane', 'Ramicane', 'Ramicane', 'Stelasyn', 'Stelasyn', 'Stelasyn', 'Stelasyn', 'Stelasyn', 'Stelasyn', 'Stelasyn', 'Stelasyn', 'Stelasyn', 'Stelasyn', 'Zoniferol', 'Zoniferol', 'Zoniferol', 'Zoniferol', 'Zoniferol', 'Zoniferol', 'Zoniferol', 'Zoniferol', 'Zoniferol', 'Zoniferol']

In [12]:
for i in drug_bin:
    timepoint_bin_index = 0
    for i in timepoint_bin:
        timepoint_column.append(timepoint_bin[timepoint_bin_index])
        timepoint_bin_index += 1

In [13]:
#
print(timepoint_column)

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [14]:
treatment_response_pd = pd.DataFrame(list(zip(drug_column, timepoint_column)), columns = ["Drug", "Timepoint"])
treatment_response_pd

         Drug  Timepoint
0   Capomulin          0
1   Capomulin          5
2   Capomulin         10
3   Capomulin         15
4   Capomulin         20
..        ...        ...
95  Zoniferol         25
96  Zoniferol         30
97  Zoniferol         35
98  Zoniferol         40
99  Zoniferol         45

[100 rows x 2 columns]

In [15]:
treatment_response_pd["Tumor Volume (mm3)"] = ""
treatment_response_pd

         Drug  Timepoint Tumor Volume (mm3)
0   Capomulin          0
1   Capomulin          5
2   Capomulin         10
3   Capomulin         15
4   Capomulin         20
..        ...        ...                ...
95  Zoniferol         25
96  Zoniferol         30
97  Zoniferol         35
98  Zoniferol         40
99  Zoniferol         45

[100 rows x 3 columns]

In [16]:
a_df = treatment_response.loc[((treatment_response["Drug"] == "Capomulin") & (treatment_response["Timepoint"] == 0)), :]
a_df["Tumor Volume (mm3)"].mean()

45.0

In [17]:
drug_effect_average = []

In [18]:
for index, row in treatment_response_pd.iterrows():
    a_df = treatment_response.loc[((treatment_response["Drug"] == drug_column[index]) & (treatment_response["Timepoint"] == timepoint_column[index])), :]
    
    drug_effect_average.append(a_df["Tumor Volume (mm3)"].mean())

In [19]:
#
print(drug_effect_average)

[45.0, 44.2660864152, 43.084290581999994, 42.064317346250014, 40.716325321739134, 39.93952782681817, 38.76933928863637, 37.816838882272734, 36.958000811428576, 36.236113800000005, 45.0, 46.50305095857142, 48.285125216, 50.09405489368421, 52.15704850444446, 54.28767405777778, 56.76951721, 58.827547826428564, 61.46789544714287, 64.13242133615384, 45.0, 47.062001032800005, 49.40390857095239, 51.29639655619047, 53.197690935000004, 55.71525236222222, 58.299397209411765, 60.742461225833324, 63.162824422999996, 65.75556227777777, 45.0, 47.38917452086955, 49.582268975000005, 52.399973742631566, 54.920934738421046, 57.67898171789474, 60.994507193888886, 63.37168604647057, 66.06858034866666, 70.66295760818181, 45.0, 46.7960980973913, 48.694209604761916, 50.93301827619048, 53.644087443500005, 56.731967581666666, 59.559508558, 62.685086947333325, 65.60075373599999, 69.26550621153847, 45.0, 47.12558918833333, 49.423329478333336, 51.35974169800001, 54.36441702684211, 57.48257374470587, 59.80906318600001, 62.42061506785715, 65.05267500500001, 68.08408221818182, 45.0, 47.2489670324, 49.10154084347826, 51.067318474705885, 53.346737366470585, 55.50413764714285, 58.196374160769224, 60.350199049000004, 63.04553675444444, 66.25852868857143, 45.0, 43.9448593996, 42.531957295000005, 41.49506092208333, 40.23832485782609, 38.974299560869554, 38.703137338695655, 37.45199634428571, 36.574080676, 34.955594792, 45.0, 47.527451674000005, 49.46384376217391, 51.529408723478255, 54.067394904285706, 56.16612328842105, 59.8267376, 62.440699465624995, 65.35638597500001, 68.43831043090908, 45.0, 46.85181826583334, 48.68988143454545, 50.77905905047619, 53.17033369000001, 55.43293487374999, 57.713530924666664, 60.08937222071429, 62.91669187642857, 65.96088788928571]

In [20]:
treatment_response_pd = pd.DataFrame(list(zip(drug_column, timepoint_column, drug_effect_average)), columns = ["Drug", "Timepoint", "Tumor Volume (mm3)"])
treatment_response_pd.head(25)

         Drug  Timepoint  Tumor Volume (mm3)
0   Capomulin          0           45.000000
1   Capomulin          5           44.266086
2   Capomulin         10           43.084291
3   Capomulin         15           42.064317
4   Capomulin         20           40.716325
5   Capomulin         25           39.939528
6   Capomulin         30           38.769339
7   Capomulin         35           37.816839
8   Capomulin         40           36.958001
9   Capomulin         45           36.236114
10   Ceftamin          0           45.000000
11   Ceftamin          5           46.503051
12   Ceftamin         10           48.285125
13   Ceftamin         15           50.094055
14   Ceftamin         20           52.157049
15   Ceftamin         25           54.287674
16   Ceftamin         30           56.769517
17   Ceftamin         35           58.827548
18   Ceftamin         40           61.467895
19   Ceftamin         45           64.132421
20  Infubinol          0           45.000000
21  Infubinol          5           47.062001
22  Infubinol         10           49.403909
23  Infubinol         15           51.296397
24  Infubinol         20           53.197691

Store the Standard Error of Tumor Volumes Grouped by Drug and Timepoint

Convert to DataFrame

Preview DataFrame

In [21]:
samples = []

In [22]:
for index, row in treatment_response_pd.iterrows():
    a_df = treatment_response.loc[((treatment_response["Drug"] == drug_column[index]) & (treatment_response["Timepoint"] == timepoint_column[index])), :]
    
    samples.append(a_df["Tumor Volume (mm3)"])

In [23]:
print(samples[0])

0      45.0
228    45.0
229    45.0
230    45.0
231    45.0
232    45.0
233    45.0
234    45.0
235    45.0
236    45.0
237    45.0
238    45.0
239    45.0
240    45.0
241    45.0
242    45.0
243    45.0
244    45.0
245    45.0
246    45.0
247    45.0
248    45.0
249    45.0
250    45.0
251    45.0
Name: Tumor Volume (mm3), dtype: float64

In [24]:
Capomulin_samples0_list = []
Capomulin_samples5_list = []
Capomulin_samples10_list = []
Capomulin_samples15_list = []
Capomulin_samples20_list = []
Capomulin_samples25_list = []
Capomulin_samples30_list = []
Capomulin_samples35_list = []
Capomulin_samples40_list = []
Capomulin_samples45_list = []

In [25]:
Capomulin_samples0 = samples[0]
for i in Capomulin_samples0:
    Capomulin_samples0_list.append(i)
    
Capomulin_samples5 = samples[1]
for i in Capomulin_samples5:
    Capomulin_samples5_list.append(i)
    
Capomulin_samples10 = samples[2]
for i in Capomulin_samples10:
    Capomulin_samples10_list.append(i)
    
Capomulin_samples15 = samples[3]
for i in Capomulin_samples15:
    Capomulin_samples15_list.append(i)
    
Capomulin_samples20 = samples[4]
for i in Capomulin_samples20:
    Capomulin_samples20_list.append(i)
    
Capomulin_samples25 = samples[5]
for i in Capomulin_samples25:
    Capomulin_samples25_list.append(i)
    
Capomulin_samples30 = samples[6]
for i in Capomulin_samples30:
    Capomulin_samples30_list.append(i)
    
Capomulin_samples35 = samples[7]
for i in Capomulin_samples35:
    Capomulin_samples35_list.append(i)
    
Capomulin_samples40 = samples[8]
for i in Capomulin_samples40:
    Capomulin_samples40_list.append(i)
    
Capomulin_samples45 = samples[9]
for i in Capomulin_samples45:
    Capomulin_samples45_list.append(i)

In [30]:
Capomulin_samples0_list

[45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0]

In [28]:
Capomulin_means0 = [np.mean(s) for s in Capomulin_samples0_list]
Capomulin_standard_errors0 = [sem(s) for s in Capomulin_samples0_list]

In [32]:
Capomulin_standard_errors0 = [sem(s) for s in Capomulin_samples0_list]
print(Capomulin_standard_errors0)

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

In [ ]:
Ceftamin_samples0_list = []
Ceftamin_samples5_list = []
Ceftamin_samples10_list = []
Ceftamin_samples15_list = []
Ceftamin_samples20_list = []
Ceftamin_samples25_list = []
Ceftamin_samples30_list = []
Ceftamin_samples35_list = []
Ceftamin_samples40_list = []
Ceftamin_samples45_list = []

In [ ]:
Ceftamin_samples0 = samples[10]
for i in Ceftamin_samples0:
    Ceftamin_samples0_list.append(i)
    
Ceftamin_samples5 = samples[11]
for i in Ceftamin_samples5:
    Ceftamin_samples5_list.append(i)
    
Ceftamin_samples10 = samples[12]
for i in Ceftamin_samples10:
    Ceftamin_samples10_list.append(i)
    
Ceftamin_samples15 = samples[13]
for i in Ceftamin_samples15:
    Ceftamin_samples15_list.append(i)
    
Ceftamin_samples20 = samples[14]
for i in Ceftamin_samples20:
    Ceftamin_samples20_list.append(i)
    
Ceftamin_samples25 = samples[15]
for i in Ceftamin_samples25:
    Ceftamin_samples25_list.append(i)
    
Ceftamin_samples30 = samples[16]
for i in Ceftamin_samples30:
    Ceftamin_samples30_list.append(i)
    
Ceftamin_samples35 = samples[17]
for i in Ceftamin_samples35:
    Ceftamin_samples35_list.append(i)
    
Ceftamin_samples40 = samples[18]
for i in Ceftamin_samples40:
    Ceftamin_samples40_list.append(i)
    
Ceftamin_samples45 = samples[19]
for i in Ceftamin_samples45:
    Ceftamin_samples45_list.append(i)

In [ ]:
Ceftamin_means0 = [np.mean(s) for s in Ceftamin_samples0_list]
Ceftamin_standard_errors0 = [sem(s) for s in Ceftamin_samples0_list]
print(Ceftamin_means0)
print(Ceftamin_standard_errors0)

In [ ]:
Infubinol_samples0_list = []
Infubinol_samples5_list = []
Infubinol_samples10_list = []
Infubinol_samples15_list = []
Infubinol_samples20_list = []
Infubinol_samples25_list = []
Infubinol_samples30_list = []
Infubinol_samples35_list = []
Infubinol_samples40_list = []
Infubinol_samples45_list = []

In [ ]:
Infubinol_samples0 = samples[20]
for i in Infubinol_samples0:
    Infubinol_samples0_list.append(i)
    
Infubinol_samples5 = samples[21]
for i in Infubinol_samples5:
    Infubinol_samples5_list.append(i)
    
Infubinol_samples10 = samples[22]
for i in Infubinol_samples10:
    Infubinol_samples10_list.append(i)
    
Infubinol_samples15 = samples[23]
for i in Infubinol_samples15:
    Infubinol_samples15_list.append(i)
    
Infubinol_samples20 = samples[24]
for i in Infubinol_samples20:
    Infubinol_samples20_list.append(i)
    
Infubinol_samples25 = samples[25]
for i in Infubinol_samples25:
    Infubinol_samples25_list.append(i)
    
Infubinol_samples30 = samples[26]
for i in Infubinol_samples30:
    Infubinol_samples30_list.append(i)
    
Infubinol_samples35 = samples[27]
for i in Infubinol_samples35:
    Infubinol_samples35_list.append(i)
    
Infubinol_samples40 = samples[28]
for i in Infubinol_samples40:
    Infubinol_samples40_list.append(i)
    
Infubinol_samples45 = samples[29]
for i in Infubinol_samples45:
    Infubinol_samples45_list.append(i)

In [ ]:
print(Infubinol_samples45_list[0])

In [ ]:
Ketapril_samples0_list = []
Ketapril_samples5_list = []
Ketapril_samples10_list = []
Ketapril_samples15_list = []
Ketapril_samples20_list = []
Ketapril_samples25_list = []
Ketapril_samples30_list = []
Ketapril_samples35_list = []
Ketapril_samples40_list = []
Ketapril_samples45_list = []

In [ ]:
Ketapril_samples0 = samples[30]
for i in Ketapril_samples0:
    Ketapril_samples0_list.append(i)
    
Ketapril_samples5 = samples[31]
for i in Ketapril_samples5:
    Ketapril_samples5_list.append(i)
    
Ketapril_samples10 = samples[32]
for i in Ketapril_samples10:
    Ketapril_samples10_list.append(i)
    
Ketapril_samples15 = samples[33]
for i in Ketapril_samples15:
    Ketapril_samples15_list.append(i)
    
Ketapril_samples20 = samples[34]
for i in Ketapril_samples20:
    Ketapril_samples20_list.append(i)
    
Ketapril_samples25 = samples[35]
for i in Ketapril_samples25:
    Ketapril_samples25_list.append(i)
    
Ketapril_samples30 = samples[36]
for i in Ketapril_samples30:
    Ketapril_samples30_list.append(i)
    
Ketapril_samples35 = samples[37]
for i in Ketapril_samples35:
    Ketapril_samples35_list.append(i)
    
Ketapril_samples40 = samples[38]
for i in Ketapril_samples40:
    Ketapril_samples40_list.append(i)
    
Ketapril_samples45 = samples[39]
for i in Ketapril_samples45:
    Ketapril_samples45_list.append(i)

In [ ]:
print(Ketapril_samples45_list[0])

In [ ]:
Naftisol_samples0_list = []
Naftisol_samples5_list = []
Naftisol_samples10_list = []
Naftisol_samples15_list = []
Naftisol_samples20_list = []
Naftisol_samples25_list = []
Naftisol_samples30_list = []
Naftisol_samples35_list = []
Naftisol_samples40_list = []
Naftisol_samples45_list = []

In [ ]:
Naftisol_samples0 = samples[40]
for i in Naftisol_samples0:
    Naftisol_samples0_list.append(i)
    
Naftisol_samples5 = samples[41]
for i in Naftisol_samples5:
    Naftisol_samples5_list.append(i)
    
Naftisol_samples10 = samples[42]
for i in Naftisol_samples10:
    Naftisol_samples10_list.append(i)
    
Naftisol_samples15 = samples[43]
for i in Naftisol_samples15:
    Naftisol_samples15_list.append(i)
    
Naftisol_samples20 = samples[44]
for i in Naftisol_samples20:
    Naftisol_samples20_list.append(i)
    
Naftisol_samples25 = samples[45]
for i in Naftisol_samples25:
    Naftisol_samples25_list.append(i)
    
Naftisol_samples30 = samples[46]
for i in Naftisol_samples30:
    Naftisol_samples30_list.append(i)
    
Naftisol_samples35 = samples[47]
for i in Naftisol_samples35:
    Naftisol_samples35_list.append(i)
    
Naftisol_samples40 = samples[48]
for i in Naftisol_samples40:
    Naftisol_samples40_list.append(i)
    
Naftisol_samples45 = samples[49]
for i in Naftisol_samples45:
    Naftisol_samples45_list.append(i)

In [ ]:
print(Naftisol_samples45_list[0])

In [ ]:
Placebo_samples0 = samples[50]
Placebo_samples5 = samples[51]
Placebo_samples10 = samples[52]
Placebo_samples15 = samples[53]
Placebo_samples20 = samples[54]
Placebo_samples25 = samples[55]
Placebo_samples30 = samples[56]
Placebo_samples35 = samples[57]
Placebo_samples40 = samples[58]
Placebo_samples45 = samples[59]

Propriva_samples0 = samples[60]
Propriva_samples5 = samples[61]
Propriva_samples10 = samples[62]
Propriva_samples15 = samples[63]
Propriva_samples20 = samples[64]
Propriva_samples25 = samples[65]
Propriva_samples30 = samples[66]
Propriva_samples35 = samples[67]
Propriva_samples40 = samples[68]
Propriva_samples45 = samples[69]

Ramicane_samples0 = samples[70]
Ramicane_samples5 = samples[71]
Ramicane_samples10 = samples[72]
Ramicane_samples15 = samples[73]
Ramicane_samples20 = samples[74]
Ramicane_samples25 = samples[75]
Ramicane_samples30 = samples[76]
Ramicane_samples35 = samples[77]
Ramicane_samples40 = samples[78]
Ramicane_samples45 = samples[79]

Stelasyn_samples0 = samples[80]
Stelasyn_samples5 = samples[81]
Stelasyn_samples10 = samples[82]
Stelasyn_samples15 = samples[83]
Stelasyn_samples20 = samples[84]
Stelasyn_samples25 = samples[85]
Stelasyn_samples30 = samples[86]
Stelasyn_samples35 = samples[87]
Stelasyn_samples40 = samples[88]
Stelasyn_samples45 = samples[89]

Zoniferol_samples0 = samples[90]
Zoniferol_samples5 = samples[91]
Zoniferol_samples10 = samples[92]
Zoniferol_samples15 = samples[93]
Zoniferol_samples20 = samples[94]
Zoniferol_samples25 = samples[95]
Zoniferol_samples30 = samples[96]
Zoniferol_samples35 = samples[97]
Zoniferol_samples40 = samples[98]
Zoniferol_samples45 = samples[99]

print(Zoniferol_samples45)

In [ ]:
Ceftamin_means0 = [np.mean(s) for s in Ceftamin_samples0_list]
Ceftamin_standard_errors0 = [sem(s) for s in Ceftamin_samples0_list]
print(Ceftamin_means0)
print(Ceftamin_standard_errors0)

In [ ]:
Infubinol_means = [np.mean(s) for s in Infubinol_samples]
Infubinol_standard_errors = [sem(s) for s in Infubinol_samples]
print(Infubinol_means)
print(Infubinol_standard_errors)